[Desktop Entry]
Type=Application
Name=Twingate Tray
GenericName=Twingate
Comment=Twingate status and settings in the system tray
Exec=/usr/bin/python3 /usr/local/lib/twingate-tray/twingate_tray.py
Icon=twingate-tray
Terminal=false
Categories=Network;
Keywords=twingate;vpn;zero trust;exit network;
