[Desktop Entry]
Type=Application
Name=Twingate Tray
Comment=Twingate status and settings in the system tray
Exec=/usr/local/lib/twingate-tray/twingate-tray
Icon=twingate-tray
Terminal=false
NoDisplay=true
X-KDE-autostart-phase=2
